- answer.files.each do |file|
  p
    = link_to file.filename.to_s, url_for(file)
    p= link_to 'Delete file', delete_file_answer_path(id: answer.id, delete_file: file.filename.to_s), method: :patch, remote: true
